/* <img src="assets/images/train.jpg" class="img-fluid" alt="Responsive image"> */
.jumbotron.jumbotron-fluid{
    background-image: url(../images/train.jpg);
    background-position: 100%;
    background-size: cover;
    background-size: 100%;
}
.display-4 {
    background: #ffffffab;
    text-align: center;
}
.card-header{
    color: #ffeb3b;
    background: #161720;
}
.btn.btn-primary{
    color: #ffeb3b;
    background: #161720;
}
.card{
    margin-bottom: 30px;
}
@media only screen and (max-width: 960px){
    .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
    }
    .col-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}